@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.login-button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding-right: 20px;
	cursor: pointer;
	color: #222;
	text-decoration: none;
}
.nav-section {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #222;
	text-decoration: none;
	font-size: 30px;
}
.menu-area {
	display: flex;
	justify-content: center;
	position: relative;
}
.menu-list {
	padding: 30px 0;
	display: flex;
	list-style: none;
	gap: 20px;
}
.menu-list li {
	cursor: pointer;
}
.search-bx {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	border-bottom: 1px solid #222;
	padding: 10px;
}
.search-bx input[type="text"] {
	border: none;
	outline: none;
	padding: 0 10px;
}
.product-wr {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 20px 10px;
	max-width: 1000px;
	margin: 0 auto;
}
.product-card {
	width: calc(25% - 7.5px);
	cursor: pointer;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
}

.product-card img {
	width: 100%;
	transition: all 0.3s;
	margin-bottom: 10px;
}
.product-card:hover img {
	transform: scale(1.05);
}

.product-card .choice,
.product-card .new {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #675cfc;
	color: #fff;
	padding: 0 10px;
	font-size: 12px;
	line-height: 22px;
	border-radius: 100px;
}
.product-card .new {
	left: initial;
	right: 10px;
	background: #dffc5c;
	color: #222;
}
.login-bx {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.login-bx h2 {
	font-size: 20px;
	text-align: center;
}
.login-bx .bx form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
input[type="text"],
input[type="password"] {
	border: 1px solid #ddd;
	height: 36px;
	line-height: 36px;
	outline: none;
	border-radius: 4px;
	padding: 0 14px;
}
.login-bx .bx form button {
	border: 1px solid #ddd;
	height: 36px;
	line-height: 36px;
	outline: none;
	border-radius: 4px;
	background: #ddd;
	cursor: pointer;
}
